<header>
    <nav>
        <a href="/">PasteBin</a>
        <ul>
            <li><a href="/pastebin">PasteBin Search</a></li> 
            <li><a href="/pastebin/new">Add Pastes</a></li>  
        </ul>
    </nav>
</header>