<header>
    <nav>
        <a href="/">Mybrary/Pastebin</a>
        <ul>
            <li><a href="/authors">Authors/Pastes</a></li> <% /* replace with Pastebin */ %> 
            <li><a href="/authors/new">Add Authors/Pastes</a></li>  <% /* replace with Pastebin */ %> 
        </ul>
    </nav>
</header>