<div>
    <label>Title </label>
    <input type="text" name="title" value="<%= paste.title %>"> 
</div>
<br>
<div>
    <label>Description </label>
    <textarea name="description"><%= paste.description %></textarea> 
</div>