<h2>Edit Paste</h2>
<form action="/pastebin/<%= paste.id %>?_method=PUT" method="POST">  
    <%- include('_form_fields') %> 
    <a href="/pastebin/<%= paste.id %>">Cancel</a> 
    <button type="submit">Update</button>
</form>