<h2>Last 10 recently added authors / pastes</h2>
<div>
    <% authors.forEach(author => { %>  <% /* replace with pastes */ %> 
        <br>
        <%= author.name %> <% /* replace with pastes */ %> 
        <% }) %> 
    </div>