<h2>Last 10 recently added pastes:</h2>
<div>
    <% pastes.forEach(paste => { %>  
        <br>
        <a href="/pastebin/<%= paste.id  %>">
            <%= paste.title %> 
        </a>
        <% }) %> 
    </div>