<div>
    <label>Name / Title </label>
    <input type="text" name="name" value="<%= author.name %>">  <% /* Replace with title for pastebin */ %>
</div>
<br>
<div>
    <label>Description </label>
    <textarea name="description"><%= author.description %></textarea> 
</div>