<h2>Edit author / Paste</h2>
<form action="/authors/<%= author.id %>?_method=PUT" method="POST"> <% /* Replace with Paste route */ %> 
    <%- include('_form_fields') %> 
    <a href="/authors/<%= author.id %>">Cancel</a> <% /* Replace with Paste route */ %> 
    <button type="submit">Update</button>
</form>