<h2>New author / Paste</h2>
<form action="/authors" method="POST"> <% /* Replace with Paste route */ %> 
    <%- include('_form_fields') %> 
    <a href="/authors">Cancel</a> <% /* Replace with Paste route */ %> 
    <button type="submit">Create</button>
</form>